.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  padding: $input-spacing;
  font-size: $base-font-size;
  text-transform: uppercase;
  margin-bottom: $space;
  line-height: 1.2;
  align: left;
}

.button-group {
  display: flex;
}

.button--link {
  display: inline-block;
  text-decoration: none;
  padding-top: 0.65rem !important;
}

.button--pill {
  background-color: transparent;
  color: $button-pill-color;
  border: 1px solid $button-pill-color;
  padding: .3rem .8rem;
  margin: 0 ($space / 2) 0 0;
}

.button--del {
  background: lighten($brand-primary, 20%);
  color: white;
}

.button--secondary {
  color: $button-secondary-color;
  border: 1px solid $button-secondary-border;
  background-color: $button-secondary-bg;
}

.button--link-text {
  background: transparent;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  text-transform: none;
}
